@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-image: url("../media/background.png");
}

#container {
    background-color: rgba(255, 255, 255, .5);
    width: 80%;
    min-width: 50;
    margin: auto;
    text-align: center;
    padding: 1%;
}

table {
    width: 97%;
    background-color: rgba(255, 255, 255, .5);
    margin: auto;
    text-align: left;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    vertical-align: center;
}

thead, tfoot {
    text-align: center;
}

#makeHoverable tr:hover {
    background-color: ivory;
    color: darkgoldenrod;
}

nav {
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(216, 50, 105);
}

a:hover {
    text-decoration: none;
    color: rgb(116, 0, 23);
}

footer {
    text-align: center;
    font-size: .8em;
}

.customFont {
    font-family: 'Roboto', sans-serif, serif;
}

figure img {
    border: 1px solid black;
    height: auto;
    max-width: 60%;
}